<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533762610231-p4j3miml2srtth2vuvl04vaqar5gfeh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533762610231-p4j3miml2srtth2vuvl04vaqar5gfeh5</string>
	<key>API_KEY</key>
	<string>AIzaSyB932oRa3QlCV4VuupUWV_5u7mGPJ68brk</string>
	<key>GCM_SENDER_ID</key>
	<string>533762610231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karmaf154.gurme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>karma-gurme</string>
	<key>STORAGE_BUCKET</key>
	<string>karma-gurme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533762610231:ios:37817801f83b3422d25bb2</string>
</dict>
</plist>